

<div class="page-container">

    <div class="searchbar_container">
        <!-- <div class="searchbar" [ngStyle]="{
            'border': isSearchbarFocus?'0.5vw solid rgb(0, 140, 255)':'0.5vw solid grey'
        }">
            <img src="assets/icons/search.png" class="search_icons">
            <input type="text" class="inputbox" (focus)="setIsSearchbarFocus(true)" (blur)="setIsSearchbarFocus(false)">
            <img src="assets/icons/cancel.png" class="search_icons">
        </div> -->
        <mat-form-field appearance="fill" style="width: 79vw !important; height: 6vw !important;
          margin: 1.5vw 0vh !important;">
            <span matPrefix> </span>
            <input type="tel" matInput placeholder="Search" name= "search" [(ngModel)]= "search">
            <button matSuffix mat-button (click)="onSearchClick()"><mat-icon >search</mat-icon></button>
        </mat-form-field>
    </div>
    <div class="middle_container">
        <div class="focus_container" (mouseover)="stopAutomaticSwipe()" (mouseout)="startAutomaticSwipe()">
            <!--核心滚动区域-->
            <ul class="pictures" #Pictures
                [ngStyle]="{
                'width': swiperPicArray.length * 100 +'%'
                }"
                [@swiperMove] = "signal"
                >
                <li *ngFor="let swiperPicPath of swiperPicArray">
                    <img [src]="swiperPicPath" alt="can't find picture">
                    <!--alt 这里可以改进-->
                </li>
            </ul>
            <!--小圆圈-->
            <ul class="circle" [ngStyle]="{
                'width': (swiperPicArray.length-2) * 2 + 'vw'
            }">
                <li *ngFor="let swiperPicPath of swiperPicArray.slice(1,-1);let i = index"
                    [ngClass]="{'current':(signal  === i.toString())}">
                </li>
            </ul>
            <!--左侧按钮-->
            <div class="arrow_l" (click)="swipe(-1)">&lt;</div>
            <!--右侧按钮-->
            <div class="arrow_r" (click)="swipe(1)">&gt;</div>
        </div>
    </div>
    <div class="blogs_container">
        <!-- <div class="hot_blogs_container">
            <div class="hot_blogs_title">
                hot blogs🔥
            </div>
            <div class="hot_blogs_info_container"
                 *ngFor = "let blog of hotBlogs" >
                <app-article [articleInfo]=blog></app-article>
            </div>
        </div> -->
        <div class="recent_blogs_container">
            <div class="hot_blogs_title">
                new blogs🔥
            </div>
            <div class="recent_blogs_info_container"
                 *ngFor = "let blog of recentBlogs" >
                <app-article [articleInfo]=blog></app-article>
            </div>
        </div>
    </div>
    <div class="see_all_articles_container">
        <a [routerLink]="['/blog-list']" class="see_all_articles">check all blogs</a>
    </div>
</div>