<!--顶部标题栏-->
<div class="top_tab">
    <div class = "title">
        <img src="assets/pic/mushtash.png">
        <span>小胡子学程序</span>
    </div>
    <div class = "link_container">
        <div class="my_projects"><a routerLink="../my-projects">我的项目</a></div>
        <div class="thoughts"><a routerLink=".">编程心得</a></div>
        <div class="about_me"><a routerLink="../about-me">关于我</a></div>
        <div class="small_setting">
            <div class="login">登录</div>
            <div class="setting">设置</div>   
        </div>         
    </div>
</div>
