<!--顶部标题栏-->
<div class="top_tab">
    <div class = "title">
        <img src="assets/pic/mushtash.png">
        <span>Llittle Moustache</span>
    </div>
    <div class = "link_container">
        <!-- <div class="my_projects"><a routerLink="../my-projects">my projects</a></div> -->
        <div class="thoughts"><a routerLink=".">my blogs</a></div>
        <!-- <div class="about_me"><a routerLink="../about-me">about me</a></div> -->
        <div class="small_setting">
            <button *ngIf="!isLogin" mat-button class="login" (click)="login()" >Login</button>
            <button *ngIf="isLogin" mat-button class="login" (click)="onAccountClick()">
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            </button>
            <!-- <div class="setting">setting</div>    -->
        </div>         
    </div>
</div>
