<div ng-if="articleInfo" class="article-info-container">
    <div class="article-title-container">
        <span class="article-info-title-short"
            [ngStyle]="{ 'width': '40%' }">
                {{title}}
            </span>
    </div>
    <span class="article-info-date">
        {{author}}
    </span>
    <span class="article-info-date">
        {{date}}
    </span>
    <!-- <span class="article-info-view">
        {{viewCount}}
        <img src="assets/icons/view.png" class="view_icon">
    </span>
    <span class="article-info-like">
        {{articleInfo.liked}}
        <img src="assets/icons/like.png" class="like_icon">
    </span> -->
</div>