mat-form-field{
    width:  90%;
    margin: 2vh 5% 1vh 5%;
}
button{
    margin: 2vh 0% 1vh 15%;
}
.title-input{
    width: 60%;
}

.content-input{
    height: 80vh;
}

.content-input-textarea{
    height: 70vh;
}